<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <!--CONSOLE日志记录器-->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger{36} [%file : %line] - %msg%n</pattern>
        </encoder>
    </appender>

    <!--FILE日志记录器-->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>log/SpringBootSkeleton.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <TimeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <MaxFileSize>100MB</MaxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger{36} [%file : %line] - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 开发、测试环境 -->
    <springProfile name="dev,test">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
        <logger name="org.springframework.web" level="WARN"/>
        <logger name="cn.sinjinsong" level="INFO">
            <appender-ref ref="FILE"/>
        </logger>
    </springProfile>

    <!-- 生产环境 -->
    <springProfile name="pro">
        <root level="WARN">
            <appender-ref ref="FILE"/>
        </root>
        <logger name="org.springframework.web" level="WARN"/>
    </springProfile>

</configuration>