<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>WebSocket</title>
    <script th:src="@{js/sockjs.min.js}"></script>
    <script th:src="@{js/stomp.js}"></script>
    <script th:src="@{js/jquery-3.1.1.js}"></script>
</head>
<body onload="disconnect()">
<noscript><h2 style="color: #e80b0a;">Sorry，浏览器不支持WebSocket</h2></noscript>
<div>
    <label>Token:</label><input type="text" id="token"/>
    <div>
        <button id="connect" onclick="connect();">连接</button>
        <button id="disconnect" disabled="disabled" onclick="disconnect();">断开连接</button>
    </div>
    <p id="hotspot"></p>
    <div id="conversationDiv">
        <label>群聊:</label>消息:<input type="text" id="msg"/>
        <button id="sendBroadcast" onclick="sendBroadcast();">发送</button>
        <p id="responseBroadcast"></p>
        <label>单聊:</label>发送对象:<input type="text" id="chatTarget"/>消息:<input type="text" id="chatSingle"/>
        <button id="sendSingle" onclick="sendSingle();">发送</button>
        <p id="responseSingle"></p>
    </div>
    <br></br>
    <p id="error"></p>
    

</div>

<script type="text/javascript">
    var stompClient = null;

    function setConnected(connected) {
        document.getElementById("connect").disabled = connected;
        document.getElementById("disconnect").disabled = !connected;
        document.getElementById("conversationDiv").style.visibility = connected ? 'visible' : 'hidden';
        $("#response").html();
    }

    function connect() {
        var socket = new SockJS('/endpoint');
        stompClient = Stomp.over(socket);
//        var token = localStorage.getItem('Auth-Token')
        var token = $("#token").val().trim()
        stompClient.connect({'Authentication': token}, function (frame) {
            setConnected(true);
            console.log('Connected:' + frame);
            stompClient.subscribe('/topic/greetings', function (response) {
                showResponse(document.getElementById('responseBroadcast'), JSON.parse(response.body).body);
            })
            stompClient.subscribe('/topic/hotspot', function (message) {
                $("#hotspot").text(message.body)
            });
            stompClient.subscribe('/user/queue/chat', function (response) {
                showResponse(document.getElementById('responseSingle'), JSON.parse(response.body).body);
            });
            stompClient.subscribe('/user/queue/error', function (message) {
                $("#error").text(message.body)
            });
        });
    }

    function disconnect() {
        if (stompClient != null) {
            stompClient.disconnect();
        }
        setConnected(false);
        console.log('Disconnected');
    }


    function sendBroadcast() {
        var msg = $('#msg').val();
        console.log('name:' + msg);
        //经过服务器处理
        stompClient.send("/app/hello", {}, JSON.stringify({'body': msg}));
        //不经过服务器处理
        //stompClient.send("/topic/greetings", {}, JSON.stringify({'body': msg}));
    }

    function sendSingle() {
        var uid = $("#chatTarget").val()
        console.log('uid:' + uid)
        var msg = $("#chatSingle").val()
        console.log('chatSingle:' + msg)
        stompClient.send("/app/queue/chat/" + uid, {}, JSON.stringify({
            'body': msg
        }));
    }

    function showResponse(element, message) {
        var p = document.createElement('p');
        p.style.wordWrap = 'break-word';
        p.appendChild(document.createTextNode(message));
        element.appendChild(p);
    }

</script>
</body>
</html>